@page "/upload-contents"
@* @attribute [Authorize] *@

<PageTitle>Upload Contents</PageTitle>

<div class="container-fluid p-4">

	<h1 class="display-6 fw-bold mt-3 mb-4 text-center">
		Upload House Featues
	</h1>

	<div class="row text-start">
		@if (FeatureCards.Count > 0)
		{
			foreach (var featureCard in FeatureCards)
			{
				string strImageURL = $"data:{featureCard.ImageContentType};base64,{Convert.ToBase64String(featureCard.CardImage)}";

				<div class="col-md-4 p-2 d-flex">

					<div class="card shadow-sm h-100 w-100 rounded-3">

						<img src="@strImageURL"
							 class="card-img-top"
							 style="height: 300px; object-fit: cover;">

						<div class="px-3 mt-1">
							<label class="fs-6 fw-normal">Image Name:</label>
							<label class="ms-1 fs-6 fw-bold fst-italic">@featureCard.ImageFileName</label>
						</div>

						<div class="card-body d-flex flex-column">

							<div class="mb-3">
								<label class="form-label fw-bold">Change Image</label>
								<InputFile OnChange="@(e => UploadNewImageFeatureCardClick(e, featureCard.EntryID))" class="form-control" accept=".jpg,.png,.jpeg" />
							</div>

							<div class="mb-3">
								<label for="cardTitle @featureCard.EntryID" class="form-label fw-bold">Card Title</label>
								<textarea class="form-control form-control-lg rounded-3"
										  id="cardTitle @featureCard.EntryID"
										  rows="2"
										  @bind="featureCard.CardTitle"
										  placeholder="Enter card title"
										  style="font-size: 0.9rem; resize: none;">
													  </textarea>
							</div>

							<div class="mb-3">
								<label for="cardDesc @featureCard.EntryID" class="form-label fw-bold">Card Description</label>
								<textarea class="form-control form-control-lg rounded-3"
										  id="cardDesc @featureCard.EntryID"
										  rows="3"
										  @bind="featureCard.CardDescription"
										  placeholder="Enter card description"
										  style="font-size: 0.9rem; resize: none;">
													  </textarea>
							</div>

							<button type="button" @onclick="() => EditFeatureCardClick(featureCard.EntryID)" class="btn btn-success w-100 py-2 fw-bold rounded-3 border-0 mb-2">
								Edit Card
							</button>
							<button type="button" @onclick="() => DeleteFeatureCardClick(featureCard.EntryID)" class="btn btn-danger w-100 py-2 fw-bold rounded-3 border-0">
								Delete Card
							</button>
						</div>
					</div>

				</div>
			}
		}

		<div class="col-md-4 p-2">
			<div class="d-flex align-items-center justify-content-center bg-light rounded-3 p-4 border-2 border-secondary h-100 shadow-sm" style="border: dashed;">
				<button type="button" @onclick="AddFeatureCardClick" class="btn btn-primary d-inline-flex align-items-center gap-2 px-3 py-2">
					<i class="bi bi-plus-circle-dotted fs-5"></i>
					<span>Add New Card</span>
				</button>
			</div>
		</div>
	</div>
</div>

@code {
	[Inject] private IContentManagementService? contentManagementService { get; set; }
	[Inject] private IOptions<AppSettings>? AppSettings { get; set; }
	List<FeatureCard> FeatureCards = new List<FeatureCard>();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			if (contentManagementService != null)
			{
				var featureCards = await contentManagementService.GetAllFeatureCardInformation();
				if (featureCards != null && featureCards.Count > 0)
				{
					FeatureCards = featureCards;
				}
			}
			else
			{
				CustomFunctions.WriteConsoleLog("ERROR", "UploadContentsPage.OnInitializedAsync(): contentManagementService is null.");
			}
		}
		catch (Exception ex)
		{
			CustomFunctions.WriteConsoleLog("ERROR", $"Exception Occured UploadContentsPage.OnInitializedAsync(): {ex.ToString()}");
		}
	}

	#region Feature Card Related Operations

	private async Task EditFeatureCardClick(int EntryId)
	{
		try
		{
			if (contentManagementService != null)
			{
				var featureCard = FeatureCards.FirstOrDefault(card => card.EntryID == EntryId);
				if (featureCard != null)
				{
					var result = await contentManagementService.EditFeatureCardInformation(featureCard);
					if (result)
					{
						CustomFunctions.WriteConsoleLog("INFOR", $"UploadContentsPage.EditFeatureCardClick(): result == True");
					}
					else
					{
						CustomFunctions.WriteConsoleLog("ERROR", $"UploadContentsPage.EditFeatureCardClick(): result == False");
					}
				}
			}
		}
		catch (Exception ex)
		{
			CustomFunctions.WriteConsoleLog("ERROR", $"Exception Occured UploadContentsPage.EditFeatureCardClick(): {ex.ToString()}");
		}
	}

	private async Task DeleteFeatureCardClick(int EntryId)
	{
		try
		{
			if (contentManagementService != null)
			{
				var result = await contentManagementService.DeleteFeatureCardInformation(EntryId);
				if (result)
				{
					var featureCards = await contentManagementService.GetAllFeatureCardInformation();
					if (featureCards != null && featureCards.Count > 0)
					{
						FeatureCards = featureCards;
					}
					CustomFunctions.WriteConsoleLog("INFOR", $"UploadContentsPage.DeleteFeatureCardClick(): result == True");
				}
				else
				{
					CustomFunctions.WriteConsoleLog("ERROR", $"UploadContentsPage.DeleteFeatureCardClick(): result == False");
				}
			}
		}
		catch (Exception ex)
		{
			CustomFunctions.WriteConsoleLog("ERROR", $"Exception Occured UploadContentsPage.DeleteFeatureCardClick(): {ex.ToString()}");
		}
	}

	private async Task UploadNewImageFeatureCardClick(InputFileChangeEventArgs e, int EntryId)
	{
		try
		{
			var selectedImage = e.File;
			if (selectedImage != null && AppSettings != null)
			{
				var featureCard = FeatureCards.FirstOrDefault(card => card.EntryID == EntryId);
				if (featureCard != null)
				{
					using var stream = selectedImage.OpenReadStream(1024 * 1024 * Convert.ToInt32(AppSettings.Value.MaxImageUploadSizeInMB));
					using var memoryStream = new MemoryStream();
					await stream.CopyToAsync(memoryStream);

					featureCard.CardImage = memoryStream.ToArray();
					featureCard.ImageFileName = selectedImage.Name;
					featureCard.ImageContentType = selectedImage.ContentType;					
				}
			}
		}
		catch (Exception ex)
		{
			CustomFunctions.WriteConsoleLog("ERROR", $"Exception Occured UploadContentsPage.UploadNewImageFeatureCardClick(): {ex.ToString()}");
		}
	}

	private void AddFeatureCardClick()
	{
		try
		{

		}
		catch (Exception ex)
		{
			CustomFunctions.WriteConsoleLog("ERROR", $"Exception Occured UploadContentsPage.AddFeatureCardClick(): {ex.ToString()}");
		}
	}

	#endregion
}
